:root {
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Consolas', monospace;
  line-height: 1.4;
  font-weight: 300;
  font-size: 14px;

  color: #666;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 300;
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
}
a:hover {
  color: #333;
  border-bottom: 1px solid #999;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fafafa;
}

h1 {
  font-size: 1.8em;
  line-height: 1.2;
  font-weight: 200;
  color: #333;
  letter-spacing: 0.1em;
}


